---
layout: page_notitle
title: Mestres
permalink: /masters/
---

<div class="instructors left">
<h2 style="margin: 0px 0px; clear: left">Família Ueshiba</h2>
<p style="margin: 0px 0px 10px 0; padding: 0px 0px 10px 0px; color: #888; width: 75%; text-align: justify; bottom-border:  #ddd 2px dotted">
A história do Aikido está diretamente ligada com a história da Família Ueshiba, que através da
<a href="http://www.aikikai.or.jp/eng/">Aikikai</a>, continua liderando o mundo quando se trata
da transmissão do Aikido Tradicional.
</p>

<hr class="instructor_sep" />

{% for member in site.data.masters['ueshiba_family'] %}
<div class="profile left">
	{% if member.bio %}
	<a href="{{ site.baseurl }}/{{ member.bio }}">
	<img src="{{ site.url }}/{{ member.photo }}" alt="{{ member.name }}" class="profile_photo"  />
	</a>
	{% else %}
	<img src="{{ site.url }}/{{ member.photo }}" alt="{{ member.name }}" class="profile_photo_false"  />
	{% endif %}

	<div class="profile_description">
		<h4>{{ member.name }}</h4>
		<p>{{ member.title }}</p>
		{% if member.nickname %}
		<p>{{ member.nickname }}</p>
		{% endif %}
		<p>{{ member.birth }}</p>
	</div>
</div>
{% endfor %}
</div>

<div class="instructors left">
<h2 style="margin: 0px 0px; clear: left">Mestres no Brasil</h2>
<p style="margin: 0px 0px 10px 0; padding: 0px 0px 10px 0px; color: #888; width: 75%; text-align: justify; bottom-border:  #ddd 2px dotted">
Nessa lista estão alguns mestres que têm ou tiveram importante relevância no cenário local (Brasil),
seja residindo no nosso país, seja ministrando seminários regulares em solo nacional.
</p>

<hr class="instructor_sep" />

{% for member in site.data.masters['other_masters'] %}
<div class="profile left">
	{% if member.bio %}
	<a href="{{ site.baseurl }}/{{ member.bio }}">
	<img src="{{ site.url }}/{{ member.photo }}" alt="{{ member.name }}" class="profile_photo"  />
	</a>
	{% else %}
	<img src="{{ site.url }}/{{ member.photo }}" alt="{{ member.name }}" class="profile_photo_false"  />
	{% endif %}

	<div class="profile_description">
		<h4>{{ member.name }}</h4>
		<p>{{ member.title }}</p>
		{% if member.nickname %}
		<p>{{ member.nickname }}</p>
		{% endif %}
		<p>{{ member.birth }}</p>
	</div>
</div>
{% endfor %}
</div>

