---
layout: page_notitle
title: Mestres
permalink: /masters/
---

<div class="instructors left">
<h2 style="margin: 0px 0px; clear: left">Família Ueshiba</h2>
<p style="margin: 0px 0px 10px 0; padding: 0px 0px 10px 0px; color: #888; width: 75%; text-align: justify; bottom-border:  #ddd 2px dotted">Zinio's leadership team believes in the future of the publishing
industry, and strives to build an enterprise where people and ideas</p>

<hr class="instructor_sep" />

{% for member in site.data.masters %}
<div class="profile left">
	<img src="{{ site.url }}/{{ member.photo }}" alt="{{ member.name }}" class="profile_photo_false"  />
	<div class="profile_description">
		<h4>{{ member.name }}</h4>
		<p>{{ member.title }}</p>
		{% if member.nickname %}
		<p>{{ member.nickname }}</p>
		{% endif %}
		<p>{{ member.birth }}</p>
	</div>
</div>
{% endfor %}
</div>

<div class="instructors left">
<h2 style="margin: 0px 0px; clear: left">Outros</h2>
<p style="margin: 0px 0px 10px 0; padding: 0px 0px 10px 0px; color: #888; width: 75%; text-align: justify; bottom-border:  #ddd 2px dotted">Zinio's leadership team believes in the future of the publishing
industry, and strives to build an enterprise where people and ideas</p>

<hr class="instructor_sep" />

<!-- PAULO -->
<!--<div class="profile left" style="margin-left: 125px">-->
<div class="profile left">

	<a href="{{ site.baseurl }}/masters/reishin-kawai.html">
		<img src="{{ site.url }}/assets/kawai-perfil.jpg" alt="Reishin Kawai" class="profile_photo"  />
	</a>
	<div class="profile_description">
		<h4>Reishin Kawai</h4>
		<p>Fundador da União-Sulamericana</p>
		<p>8º Dan</p>
		<p>(1931 - 2010)</p>
	</div>
</div>

<div class="profile left">
 	<img src="{{ site.url }}/assets/seki.jpg" alt="Shoji Seki" class="profile_photo_false" />
	<div class="profile_description">
		<h4>Shoji Seki</h4>
		<p>8º Dan</p>
		<p>(1950 - )</p>
	</div>
</div> 

</div>


