---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
//$base-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
//$base-font-family: Tahoma, Geneva, sans-serif;
//$base-font-family: sans-serif;
//$base-font-family: sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

table {margin: .5em auto 1.5em auto; width: 98%;}
        
        /* Thead */
        thead th {padding: .5em .4em; text-align: center; background: none repeat scroll 0% 0% #E0E0E0;}
        thead td {}

        /* Tbody */
        tbody td {padding: .5em .4em; text-align: center}
        tbody th {}
        
        tbody .alt td {}
        tbody .alt th {}
        
        /* Tfoot */
        tfoot th {}
        tfoot td {}


.boxed {
	margin: 60px 0px;
	padding: 30px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #dde;
	border-radius: 20px;
	background-color: #efefff;
	overflow: hidden;
}

.profile {
	width: 33%;
	margin-bottom: 50px;
}

.auxiliar {
	width: 33%;
}

.justify {
	text-align: justify;
	//text-justify: inter-word;
}

.profile_description  {
	text-align: justify;
	text-justify: inter-word;
	padding: 10px 20px;
}

.profile_description h4 {
	text-align: center;
	//font: bold 12px/30px Georgia, serif;
	font-style: bold;
	//padding: 10px 20px;
	margin-bottom: 2px;
	color: #222;
}

.profile_description p {
	text-align: center;
	font-style: italic;
	//padding: 0 50px;
	padding: 0 0;
	margin: 0 0;
	font-size: 0.9em;
	color: #777;
}


.center {
	margin-left: auto;
	margin-right: auto;
}

img.profile_photo { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	//padding: 0 70px;
	//margin: 0 10px;
}

img.profile_photo:hover {
	-webkit-filter: none;
	filter: none;
	-webkit-filter: sepia(80%);
	filter: sepia(80%);

}

.boxed img {
	padding: 0 30px;
	-webkit-filter: none;
	filter: none;
	border-radius: 50%;

}

.boxed img:hover {
	-webkit-filter: sepia(50%);
	filter: sepia(50%);
}

img#logo {
	margin-top: 3px;
	position: relative;
	left: -380px;
}


div#instructor {
	margin-left: auto;
	margin-right: auto;
}

.left { float: left; }
.right { float: right; }


#information {
        padding: 2em 0;
}

#location {
    float: left;
    width: 400px;
    //margin-left: 20px;
}

#intro {
        font-size: 1.3em;
        padding: 2em 3em;
        text-align: justify;
}


#location h1 {text-align: center;}

#horarios {
    float: right;
    width: 300px; 
}

#horarios h1 {text-align: center;}
.obs {
	text-align: justify;
	font-size: 0.8em;
	padding: 0 10px;
}

#horarios table{
	font-size: 15px;
	width: 100%
}

#home{
	background-image: url("../assets/home-background-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: sepia(80%);
	filter: sepia(80%);
	min-height: 500px;
	width: 100%;
}

#home-index img {
	//-webkit-filter: grayscale(100%);
	//filter: grayscale(100%);
	-webkit-filter: sepia(50%);
	//-webkit-filter: opacity(50%);
}

