<header class="site-header">
  <div class="wrapper">
    <a href="/" class="site-title">
      <div class="logo">
      <img class="image-logo" src="/assets/dojo-logo.jpg" width=50 height=50 alt="Logo do Makoto Aikidojo" />
      <p>{{ site.title }}</p>
      </div>
    </a>

    {% assign curr = page.url | downcase | split: '/' %}

    <nav class="site-nav">
      <a {% if curr[1] == 'aikido' %}class="active"{% endif %} href="/aikido/" >Aikido</a>
      <a {% if curr[1] == 'mestres' %}class="active"{% endif %} href="/mestres/">Mestres</a>
      <a {% if curr[1] == 'dojo' %}class="active"{% endif %} href="/dojo/">Dojo</a>
      <a {% if curr[1] == 'instrutores' %}class="active"{% endif %} href="/instrutores/">Instrutores</a>
      <a {% if curr[1] == 'artigos' %}class="active"{% endif %} href="/artigos/">Artigos</a>
    </nav>
  </div>
</header>
