<header class="site-header">

  <div class="wrapper">

    <img id="logo" src="{{ site.url }}/assets/associacao-logo-empty.png" width=50 height=50 alt="Logo da Associação" />
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% assign current = page.url | downcase | split: '/' %}

    <nav class="site-nav">
      <div class="trigger">
	      <a {% if current[1] == 'aikido' %}id="active"{% endif %} class="page-link" href="{{ site.baseurl }}/aikido/" >Aikido</a>
	      <a class="page-link {% if current[1] == 'mestres' %}active{% endif %}" href="{{ site.baseurl }}/mestres/">Mestres</a>
	      <a class="page-link {% if current[1] == 'dojo' %}active{% endif %}" href="{{ site.baseurl }}/dojo/">Dojo</a>
	      <a class="page-link {% if current[1] == 'instrutores' %}active{% endif %}" href="{{ site.baseurl }}/instrutores/">Instrutores</a>
	      <a class="page-link {% if current[1] == 'artigos' %}active{% endif %}" href="{{ site.baseurl }}/artigos/">Artigos</a>
      </div>
    </nav>

  </div>

</header>
