body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

img {max-width: 100%; vertical-align: middle;}
figure > img {display: block;}
figcaption {font-size: $small-font-size;}

ul, ol {margin-left: $spacing-unit;}
li > ul {margin-bottom: 0;}
li > ol {margin-bottom: 0;}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: normal;
}

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {color: darken($brand-color, 15%);}
    &:hover {color: $text-color; text-decoration: underline;}
}

blockquote {
    background: url(../assets/bg-quote3a.png) top center no-repeat, url(../assets/bg-quote3b.png) bottom center no-repeat;
    color: $grey-color;
    font-style: italic;
    font-size:  18px;
    margin: $spacing-unit*1.5 0 $spacing-unit*1.5 0;
    padding: $spacing-unit*1.5;
    text-align: left;

    p {margin-bottom: 0;}
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

%clearfix {&:after {content: ""; display: table; clear: both;}}

.icon > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;

    path {fill: rgb(175,175,175); opacity: 1;}
}

strong {font-weight: bold;}

table {
    margin: .5em auto 1.5em auto; width: 98%;
    font-size: $small-font-size;
    font-family: "Montserrat", sans-serif;
}
        
thead th {
    padding: .5em .4em;
    text-align: center;
    background: none repeat scroll 0% 0% #E0E0E0;
}
thead td {}

tbody td {
    padding: .5em .4em;
    text-align: center;
}
tbody th {}
tbody .alt td {}
tbody .alt th {}

tfoot th {}
tfoot td {}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: $spacing-unit;
    width: 30%;
}
