/*************************************************************/
/************************** HEADER ***************************/
/*************************************************************/
.site {display: flex; min-height: 100vh; flex-direction: column;}

.site-header {
    border-top: 5px solid #666;
    border-bottom: 1px solid $grey-color-light;
    a {color: $text-color; text-decoration: none; outline: 0}
}

.site-title {
    font-size: 26px;
    line-height: 61px;
    letter-spacing: -1px;
    margin-bottom: 0;
    //float: left;
}
//.logo {display: inline-block;}
a.site-title {
    &, &:visited {}
    &:hover {color: $red-color;}
}

.site-title p {margin-bottom: 0; float: left;}

.site-title img {float: left; padding: 5px 10px 5px 0;}

.site-nav {
    float: right;
    line-height: 61px;

    a {
	display: inline-block;
        //line-height: $base-line-height;
	padding: 0 6px;
	border-bottom: solid 3px transparent;

        &:not(:first-child) {margin-left: 0px;}
	&:link {}
	&:visited {}
	&:hover, &:active {color: $red-color; border-bottom: solid 3px $red-color;}
    }
    
    a.active {color: $red-color; border-bottom: solid 3px $red-color;}

    @include media-query($on-palm) {}
}

/*************************************************************/
/************************ PAGE CONTENT ***********************/
/*************************************************************/
.site-content {padding: $spacing-unit 0 3*$spacing-unit 0; flex: 1;}
.site-content .wrapper {width: 80%;}
//.page-heading {font-size: 1.5em;} // USELESS

.post-list {margin-left: 0; list-style: none;}
.post-list > li {margin-bottom: $spacing-unit;}

.post-meta {font-size: $small-font-size; color: $grey-color;}
.post-link {display: block; font-size: 24px;}


/***************************/
/********** POSTS **********/
/***************************/
.post {width: 85%; margin: 0 auto;}

/*************** POST HEADER ************/
.post-header {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 1.5;
    font-family: $details-font-family;
}

.post-title {
    font-size: $header-font-size;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {}
}

/*************** POST CONTENT ************/
.post-content {
    margin-bottom: $spacing-unit * 2;
    text-align: left;

    p {margin-bottom: $spacing-unit * 1.2;}
    blockquote {p { margin-bottom: 0; }}

    h2 {font-size: 1.6em; margin-top: 30px; @include media-query($on-laptop) {}}
    h3 {font-size: 1.5em; @include media-query($on-laptop) {}}
    h4 {font-size: 1.4em; @include media-query($on-laptop) {}}

    hr {margin-bottom: 20px; width: 30%;}
    a, a:active, a:focus {outline: none; outline: 0;}
    input::-moz-focus-inner {border: 0;}
}

/*************************************************************/
/************************ SITE FOOTER ************************/
/*************************************************************/

.site-footer {
    border-top: 1px solid $grey-color-light;
    background-color: #efefef;
    padding: 2*$spacing-unit 0 0 0;

}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit;
    text-align: center;
}

.contact-list ,.social-media-list {list-style: none; margin-left: 0; text-align: center}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit;
    
}

.footer-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit}));
    width:         calc(40% - (#{$spacing-unit}));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit}));
    width:         calc(30% - (#{$spacing-unit}));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit}));
    width:         calc(30% - (#{$spacing-unit}));
}

