/**********************************/
/*********** PROFILES *************/
/**********************************/
.profile-list {clear: both}

em {
    font-style: italic;
}

h1 {
    margin-top: 2em;
    font-size: 1.8em;

}

h2 {
    margin-top: 2em;
    font-size: 1.8em;

}

h4 {

    font-size: 1.2em;
}

hr {
    float: left;
    margin-right: 100%;
}


figure.profile {
	display: inline-block;

	img {
		border-radius: 50%;
		margin: 0 auto;
		display: block;
		width: 150px;
		height: 150px;

		&:hover {-webkit-filter: none; filter: none;}
	}

	.image-wrapper {margin-right: 10px; margin-left: 10px;}

    margin-right: 30px;
}

figure.profile figcaption {
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 10px 0px 10px;

    h4 {
        text-align: center;
        font-style: bold;
        margin-bottom: 2px;
        color: #222;
    }

    p {
        text-align: center;
        font-style: italic;
        padding: 0 0;
        margin: 0 0;
        font-size: 0.9em;
        color: #777;
    }
}


img.profile_photo_false {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
img.profile_photo {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
img.profile_photo:hover {-webkit-filter: sepia(60%); filter: sepia(60%);}

img.boxed {-webkit-filter: none; filter: none; margin: 0 20px;}
img.boxed:hover {-webkit-filter: sepia(50%); filter: sepia(50%);}

.obs {text-align: justify; font-size: 0.8em; padding: 0 10px;}

.boxed {
	margin: 0px auto;
        margin-bottom: 40px;
	width: 100%;
	//padding: 20px 0px;
	//border-style: solid;
	//border-width: 1px;
	//border-color: #dde;
	//border-radius: 20px;
	//background-color: #efefff;
	//background-color: #fafaff;
	//overflow: hidden;
}

.justify {text-align: justify; text-justify: inter-word;}
.center {margin-left: auto; margin-right: auto;}
.left {float: left;}
.right {float: right;}
.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.round {border-radius: 50%;}
.center {margin: 0 auto;}
.block {display: block;}


p.copyright {
    text-align: center;
    padding: 5px 0;
    margin: 0;
    clear: both;
    background-color: #666;
    color: #BBB;
}


/*********** GENERIC IMAGES ***************/



.instructors {margin-bottom: 10px; width: 100%;}
.site-content hr.instructor-sep {margin-bottom: 30px; width: 30%; float: left;}
.site-content hr.section-sep {margin-bottom: 15px; width: 30%;}
.site-content hr.block-sep {margin: 50px auto; width: 60%;}

.content-wrapper {min-height: 500px;}

.social-icon {width: 48px; height: 48px;}

.facebook-icon circle {fill: #AAAAAA}
.facebook-icon:hover circle {fill: #666}
//.facebook-icon:hover circle {fill: #4E71A8}

.youtube-icon circle {fill: #AAAAAA}
.youtube-icon:hover circle {fill: #666}
//.youtube-icon:hover circle {fill: #CA3737}

.google-icon circle {fill: #AAAAAA}
.google-icon:hover circle {fill: #666}
//.google-icon:hover circle {fill: #E3411F}



.social-media-list li {display: inline-block; margin: 0 5px;}
ul.social-media-list {margin: 0 auto; display: table;}


h1.centertext {text-align: center;}
h2.centertext {text-align: center;}

img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.imgBorder {
  padding: 15px 15px 15px 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}



/***************************************/
/*********** IMAGE GALLERIES ***********/
/***************************************/
div#slideshow #home-image {-webkit-filter: sepia(80%); filter: sepia(80%);}
.slide-container {}
#slideshow {
    width: 960px;
    margin: 0 auto;
    height: 575px;
    position: relative;
    padding: 0;
}

#slideshow > div {
    position: absolute;
}



.galleria{ width: 100%; height: 400px; background: $background-color }
.site-content .wrapper {height: 100%; height: auto;}

/*
#slides .galleria-theme-classic .galleria-thumbnails-container {height: 0;}
#slides .galleria-theme-classic .galleria-carousel .galleria-thumbnails-list {}
#slides .galleria-theme-classic .galleria-thumbnails .galleria-image {height: 0;} 
*/
