---
layout: default
title: Instrutores de Aikido - Associação Reishin Kawai
permalink: /instrutores/
description: Conheça os instrutores de Aikido da Associação Reishin Kawai.
---
<section class="profile-section">
  <h1>Instrutores</h1>
  <hr class="instructor-sep" />
    <div class="profile-list">
  {% for member in site.data.instructors['instructors'] %}
    <figure class="profile">
      <div class="image-wrapper">
      {% if member.bio %}
        <a href="{{ member.bio }}">
          <img class="profile_photo" src="{{ member.photo }}" alt="{{ member.name }}" />
        </a>
      {% else %}
        <img class="profile_photo_false" src="{{ member.photo }}" alt="{{ member.name }}" />
      {% endif %}
      </div>

      <figcaption class="profile_description">
        <h4>{{ member.name }}</h4>
        {% if member.title %}
          <p>{{ member.title }}</p>
        {% endif %}
	<p>{{ member.title2 }} &#8226; {{ member.rank }}</p>
      </figcaption>
    </figure>
  {% endfor %}
    </div>
</section>

<section class="profile-section">
  <h2>Assistentes</h2>
  <hr class="instructor-sep" />
  <div class="profile-list">
    {% for member in site.data.instructors['assistants'] %}

      <figure class="profile">
        <div class="image-wrapper">
        {% if member.bio %}
          <a href="{{ member.bio }}">
            <img class="profile_photo" src="{{ member.photo }}" alt="{{ member.name }}" />
          </a>
        {% else %}
          <img class="profile_photo_false" src="{{ member.photo }}" alt="{{ member.name }}" />
        {% endif %}
        </div>

        <figcaption class="profile_description">
          <h4>{{ member.name }}</h4>
          {% if member.title %}
            <p>{{ member.title }}</p>
          {% endif %}
          <p>{{ member.title }}</p>
	  <p>{{ member.title2 }} &#8226; {{ member.rank }}</p>
        </figcaption>
      </figure>
    {% endfor %}
  </div>
</section>
